@import url(/css/style.css);

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.message {
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(120deg, rgb(103, 51, 155) 0%, rgb(27, 108, 195)100%);
    color: #000000;

    position: fixed;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0%);

    padding: 1rem;

    border-radius: 10px;

    transition: 0.3s;

}

.presentation {
    background-color: #0000005a;
    border-radius: 10px;
    margin: 0.5rem;
}

.main_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

@media screen and (max-width: 600px) {
    .main_info {
        flex-direction: column;
    }

}

.profil_img {
    height: 500px;
    width: 300px;

    object-fit: cover;

    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    margin: 1rem;
    margin-right: 0.5rem;
}

.perso_info {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem;

    max-width: 500px;

    background-color: #f8f8f812;
    border-radius: 10px;
}

.info_title {
    margin: 0;
    font-weight: 800;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    padding-top: 0;
}

.social>* {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.logo_social {
    height: 50px;
    width: 50px;

    object-fit: contain;

}

.competences {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    background-color: #0000005a;
    border-radius: 10px;
    margin: 0.5rem;

    max-height: 600px;
}

.competence {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;

    scroll-snap-align: center;

    background-color: #30303035;
    border-radius: 10px;

    width: 200px;
    min-width: 200px;
    height: 200px;

}

.top_competence {
    display: flex;
    align-items: center;
}

.logo_competence {
    height: 50px;
    width: 50px;

    object-fit: contain;

    margin: 0.5rem;
}

.projects {
    display: flex;

    overflow-x: scroll;

    scroll-snap-type: x mandatory;

    background-color: #0000005a;
    border-radius: 10px;
    margin: 0.5rem;

}

.project {

    width: 320px;
    height: 500px;

    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    scroll-snap-align: center;

    margin: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;

    background-color: #34343426;
    border-radius: 10px;
}

.project:hover {
    background-color: #0000001a;
}

.project>p:not(.description) {
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;

    border-radius: 10px;
}

.main_img_project_container {
    height: 150px;
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;
}

.main_img_project {
    height: 150px;
    width: 250px;

    object-fit: contain;
}

.category_container {
    height: 80px;
    width: 100%;

    display: flex;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    margin-bottom: 0.5rem;
}

.category_container p {
    margin: 0;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
}

.category {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    scroll-snap-align: center;

    margin: 0 0.5rem;
    padding: 0 0.5rem;

    cursor: pointer;
    position: relative;
}

.category p {
    white-space: nowrap;
}

.category:hover {
    background-color: #0000001a;
}

.logo_category {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.description {
    height: 100px;
    width: 100%;

    font-size: 1rem;

    background-color: #0000000c;
    border-radius: 10px;

    padding-left: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    overflow-y: scroll;
}

.articles {
    display: flex;

    overflow-x: scroll;

    scroll-snap-type: x mandatory;

    background-color: #0000005a;
    border-radius: 10px;
    margin: 0.5rem;

}

.article {

    width: 320px;
    height: 500px;

    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    scroll-snap-align: center;

    margin: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;

    background-color: #34343426;
    border-radius: 10px;
}

.article:hover {
    background-color: #0000001a;
}

.article>p:not(.description) {
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;

    border-radius: 10px;
}


.main_img_article_container {
    height: 150px;
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;
}

.main_img_article {
    height: 150px;
    width: 250px;

    object-fit: contain;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    background-color: #0000005a;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.5rem;
}

.contact_info {
    display: flex;
    flex-direction: column;

    margin-bottom: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;

    background-color: #30303035;
    border-radius: 10px;
}

.contact_form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 0.5rem;
    margin: 0.5rem;

    background-color: #30303035;
    border-radius: 10px;
}

.contact_form>* {
    margin: 0.2rem;
}

.body_switch {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.body_switch>* {
    width: 50%;
}

@media screen and (max-width: 1040px) {
    .body_switch {
        flex-direction: column;
    }

    .body_switch>* {
        width: 100%;
    }

    .contact {
        flex-direction: column;
    }

    .competences {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        overflow-y: hidden;
    }

}