@import url(/css/style.css);

.filter {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 8fr 2fr;
    grid-template-rows: 50px;
    align-items: center;
    grid-gap: 10px;
}

#email{
    width: 70%;

}

.filter_reload{
    grid-column-start: 5;
}

.content {
    display: grid;
    grid-template-columns: calc(100% - 15px);
    grid-template-rows: 50px auto;
    grid-gap: 10px;

}

.top-message {
    display: grid;
    grid-template-columns: 2fr 90px 32px 4fr 97px;
    grid-template-rows: 50px;
    align-items: center;
    grid-gap: 10px;
}

.messages {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
    grid-gap: 10px;
}

.message {
    display: grid;
    grid-template-columns: 2fr 90px 32px 4fr 97px;
    grid-gap: 10px;
}

.message-date{
    white-space: wrap;
}

.message-content{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}