.TopBar {
    width: calc(100vw - 2vw);
    height: 50px;

    padding: 2vh 1vw 2vh 1vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0000000c;
    overflow-x: scroll;
    overflow-y: hidden;
}

.logout {
    font-size: 1rem;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #292121;
    background-color: #f3020283;
    border-radius: 10px;

    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin: 0 0.5rem;
    padding: 0.5rem;
    z-index: 1;
    text-transform: uppercase;
    white-space: nowrap;
}

.logout:hover {
    background-color: #f30202;
}

.logout img {
    height: 2rem;
    object-fit: contain;
    margin: 0.1rem;
}

.nav {
    width: calc(100vw - 2rem);
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    margin: 0.5rem;
    padding: 0.5rem;

    position: relative;
}

.redirect {
    font-size: 1.25rem;

    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    margin: 0.5rem;
    padding: 0.5rem;

    cursor: pointer;
    position: relative;
}

.redirect:hover {
    background-color: #0000001a;
}

.active {
    background-color: #3b3b3b8f;
}

.dropbtn{
    font-size: 1.25rem;

    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    padding: 0.5rem;

    cursor: pointer;
    position: relative;
}

.dropbtn:hover{
    background-color: #0000001a;
}

.dropbtn.active{
    background-color: #3b3b3b8f;
}

#navcontent{
    display: none;
    justify-content:space-around;
    right: 0;
    width: 96vw;
    margin: 0 2vw;
    top: calc(50px + 2rem);
    position: absolute;
    background-color: #eeeeee;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.421);
    border-radius: 10px;
    z-index: 3;
    transition: all 0.5s ease;
    overflow-x: scroll;
}

@media screen and (max-width: 740px){ 
    #navcontent{
        justify-content: start;
    }
 }


