@import url(/css/style.css);

.code {
    width: 48vw;
    margin: 0 0.5vw;
}

pre {
    margin: 0;
}

code {
    height: calc(65vh - (100px + 4rem + 16px + 1.5em + 1vmin));
    border-radius: 10px;
}

code>*{
    color: #fff;
}

.show {
    width: 48vw;
    margin: 0 0.5vw;
}

.preview {
    height: calc(99vh - (100px + 4rem + 16px + 1.5em + 1vmin));
    overflow-y: scroll;
}

.main_img_article {
    height: 150px;
    width: 250px;

    object-fit: contain;
}

.img_wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;

    background-color: #0000000c;
    border-radius: 10px;
}

.img_wrapper img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.text_wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    margin-bottom: 1rem;
}

.text_wrapper p {
    color: #f4f4f4;
    font-size: 1.2rem;
    line-height: 1.2;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;

    padding: 1rem;

}

.preview hr {
    width: calc(100% - 5px);
    height: 3px;
    background-color: #f4f4f4;
}

.input_wrapper {
    display: flex;
    align-items: center;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change_content {
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    margin: 0.5rem;
    padding: 0.5rem;

    cursor: pointer;
    position: relative;
}

.change_content:hover {
    background-color: #0000001a;
}

.categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.categorie{
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    margin: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;

    position: relative;
}

.add_categorie{
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    margin: 0.5rem;
    padding: 0.5rem;

    cursor: pointer;
    position: relative;
}

.add_categorie input{
    padding: 0.5rem;
    border-radius: 10px;
}

.add_categorie select{
    padding: 0.5rem;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .code {
        width: 100%;
        margin: 0.5rem;
    }

    code{
        margin: 0.5rem;
    }

    .show {
        width: 100%;
        margin: 0.5rem;
    }

    .preview {
        height: auto;
    }
    
}



