@import url(/css/style.css);

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.new_project {
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    margin: 0.5rem;
    padding: 0.5rem;

    cursor: pointer;
    position: relative;
}

.new_project:hover {
    background-color: #0000001a;
}

.new_project img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.projects {
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    background-color: #00000035;
    border-radius: 10px;
    margin: 0.5rem;
}

.project {
    width: 300px;
    height: fit-content;

    min-width: 300px;
    min-height: 450px;

    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    margin: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;

    background-color: #34343426;
    border-radius: 10px;
}

.project:hover {
    background-color: #0000001a;
}

.project>p:not(.description) {
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;

    border-radius: 10px;
}

.main_img_project_container {
    height: 150px;
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    margin-bottom: 0.5rem;
}

.main_img_project {
    height: 150px;
    width: 250px;

    object-fit: contain;
}

.category_container {
    height: 80px;
    width: 100%;

    display: flex;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    margin-bottom: 0.5rem;
}

.category_container p {
    margin: 0;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
}

.category {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    scroll-snap-align: center;

    margin: 0 0.5rem;
    padding: 0 0.5rem;

    cursor: pointer;
    position: relative;
}

.category p {
    white-space: nowrap;
}

.category:hover {
    background-color: #0000001a;
}

.logo_category {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.description {
    height: 100px;
    width: 100%;

    font-size: 1.2rem;

    background-color: #0000000c;
    border-radius: 10px;

    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    overflow-y: scroll;
}

.delete_proj{
    z-index: 2;
    object-fit: contain;
    cursor: pointer;

    background-color: #0000000c;
    border-radius: 10px;

    padding: 0.5rem;

    margin-top: 0.5rem;

}



