@import url(/css/style.css);

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.new_project {
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    margin: 0.5rem;
    padding: 0.5rem;

    cursor: pointer;
    position: relative;
}

.new_project:hover {
    background-color: #0000001a;
}

.new_project img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.zigzag {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 800;
    color: #f4f4f4;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    white-space: nowrap;

    left: -60px;
    top: 309px;
    rotate: -90deg;
}

.zigzag svg {
    display: none;
    height: fit-content;
    width: 90px;
    fill: #cecece;
}

.project_first {
    width: calc(100% - 70px - 1rem);
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0.5rem;
    margin-right: 1rem;
    margin-left: 70px ;

    background-color: #303544;
    border-radius: 10px;

}

.first_img {
    height: 500px;
    width: 100%;
    max-width: calc(100% / 2);
    object-fit: cover;

    border-radius: 10px;
}

.first_main_img {
    height: 500px;
    width: 100%;

    object-fit: cover;

    border-radius: 10px;
}

.first_content {
    height: calc(500px - 2rem);
    width: 100%;
    max-width: calc(100% / 2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;
}

.first_content h2 {
    color: #f4f4f4;
}

.first_content .category .logo_category {
    height: 50px;
    width: 50px;
}

.first_content .category p {
    font-size: 1.5rem;
}

.projects {
    /* width: fit-content; */

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;

    margin: 0.5rem;
}

.project {
    width: 300px;
    height: fit-content;

    min-width: 300px;
    min-height: 515px;
    max-width: 700px;

    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: #f4f4f4;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    background-color: #303544;
    border-radius: 10px;

    flex: 1 0 calc(33.333% - 20px * 2);
}

.project>h3 {
    color: #f4f4f4;
}

.project:hover {
    background-color: #000000d2;
}

.project>p:not(.description) {
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.2;
    color: #f4f4f4;

    border-radius: 10px;
}

.main_content {
    width: 100%;
    height: 265px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom_part {
    width: auto;
    height: 25px;

    margin: 1rem;
}

.title_content {
    padding: 2rem;
    height: fit-content;
}

.title_content h3 {
    color: #f4f4f4;
}

.main_img_project_container {
    height: 250px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;
}

.main_img_project {
    height: 250px;
    width: 100%;

    object-fit: cover;
}

.category_container {
    height: 80px;
    width: 100%;

    display: flex;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    margin-bottom: 0.5rem;
}

.category_container p {
    margin: 0;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
}

.category {
    display: flex;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;

    scroll-snap-align: center;

    margin: 0 0.5rem;
    padding: 0.5rem;

    cursor: pointer;
    position: relative;

    width: fit-content;
}

.category p {
    white-space: nowrap;
}

.category:hover {
    background-color: #0000001a;
}

.logo_category {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.description {
    height: 100px;
    width: 100%;

    font-size: 1.2rem;

    background-color: #0000000c;
    border-radius: 10px;

    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    overflow-y: scroll;
}

.delete_proj {
    z-index: 2;
    object-fit: contain;
    cursor: pointer;

    background-color: #0000000c;
    border-radius: 10px;

    padding: 0.5rem;

    margin-top: 0.5rem;

}

/* project affichage detail */

.showcase {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5%;

    background-color: #303544;
    border-radius: 10px;
}

.project_show{
    width: calc(100% - 1rem);
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0.5rem;
    margin-right: 1rem;

    background-color: #303544;
    border-radius: 10px;
}

.project_detail {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem;

    background-color: #303544;
    border-radius: 10px;
}

.project_content {
    width: 90%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5%;
}

.first_content .category_container {
    height: fit-content;
    width: 100%;

    margin: 0;
}

.first_content .category {

    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

.first_content .category .logo_category {
    height: 30px;
    width: 30px;
}

.first_content .category p {
    font-size: 1rem;
}

.img_wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 1rem;

    background-color: #0000000c;
    border-radius: 10px;
}

.img_wrapper img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 769px) {
    .zigzag {
        rotate: 0deg;
        left: calc(50% - 91px);
        top: 69px;
    }

    .zigzag svg {
        display: block;
    }

    .project_first {
        width: calc(100% - 2rem);
        flex-direction: column;
        margin: 1rem;
        margin-top: 70px;
    }

    .first_img {
        height: 300px;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .first_main_img {
        height: 300px;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .first_content {
        position: relative;
        height: fit-content;
        max-width: calc(100% - 2rem);
        flex-direction: column;
        justify-content: space-between;

    }
}