





::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* width of the entire scrollbar */
}


::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(120deg, rgb(103, 51, 155) 0%, rgb(27, 108, 195)100%);
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    transition: 0.5s;
    text-decoration: none;
}

body {
    background-color: #ffffff;
}

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: -10px;
    width: calc(100vw + 20px);
    height: calc(100vh + 20px);
    /* background-image: url("../assets/background.svg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #8ba7ce;
    /* filter: blur(3px); */
    z-index: -1;
}

main {
    overflow-y: scroll;
    height: calc(100vh - 50px - 4vh);
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: calc(100vw - 5px);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    color: #000000;
    text-decoration: none;
}

p{
    color: #e8e8e8;
}

h1 {
    margin: 1vw;
    padding: 0;
    font-size: calc(3em + 2.5vmin);
    font-weight: 600;
    line-height: 1.2;
    color: #212529;
    text-transform: uppercase;
}

h2 {
    margin: 1vw;
    padding: 0;
    font-size: calc(2em + 2vmin);
    font-weight: 600;
    line-height: 1.2;
    color: #212529;
    text-transform: uppercase;
}

h3 {
    margin: 1vw;
    padding: 0;
    font-size: calc(1.5em + 0.8vmin);
    font-weight: 600;
    line-height: 1.2;
    color: #212529;
    text-transform: uppercase;
}

h6 {
    margin: 1vw;
    padding: 0;
    font-size: calc(1em + 0.8vmin);
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0000000c;
    border-radius: 10px;
}