::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* width of the entire scrollbar */
}


::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(120deg, rgb(103, 51, 155) 0%, rgb(27, 108, 195)100%);
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

a {
    color: #000000;
    text-decoration: none;
}

